.button {
	height: 40px;
	width: 50%;
	background-color: bisque;
	color: rgb(0, 0, 0);
	cursor: pointer;
	border: 1px solid grey;
	border-radius: 2px;
	font-size: 16px;
	border: none;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.button:hover {
	background-color: rgb(227, 185, 134);
}
