.card {
	height: 100%;
	/* background-color: rgb(236, 229, 229); */
	margin-bottom: 1rem;
	border: 1px solid rgb(135, 135, 135);
	padding: 1rem;
	cursor: pointer;
	border-radius: 0.3rem;
}

.card > div {
	text-align: center;
}

.card:hover {
	background-color: rgb(253, 231, 201);
}
