.footer {
	bottom: 0;
	width: 100%;
	display: grid;
	background-color: bisque;
	margin-top: auto;
}

.footer > ul {
	display: grid;
	list-style-type: none;
	grid-template-columns: repeat(3, 1fr);
}

.small-disclaimer {
	font-size: 0.7em;
	color: #797474;
}
