/* .form {
	width: 50%;
	margin: auto;
	min-height: 100vh;
	position: relative;
} */

.form > h1 {
	color: rgb(26, 27, 25);
}

.form > form > input {
	height: 3.5rem;
	width: 100%;
	margin-bottom: 1rem;
	font-size: 1em;
}

.form > form > input[type='submit'] {
	cursor: pointer;
	background-color: rgb(4, 92, 4);
	color: #fff;
	border-radius: 4px;
	border: none;
}

.form > form > input[type='submit']:hover {
	background-color: rgb(36, 74, 36);
}
