/* .form {
	width: 50%;
	margin: auto;
	min-height: 100vh;
	position: relative;
} */

.form > h1 {
	color: rgb(26, 27, 25);
}

.form > form > div > input {
	height: 3.5rem;
	width: 100%;
	margin-bottom: 1rem;
	font-size: 1em;
}

.form > form > div > textarea {
	height: 6.5rem;
	margin-bottom: 1rem;
	font-size: 1em;
	resize: none;
	font-family: -apple-system, sans-serif;
	display: block;
	width: 100%;
}

.form > form > div > label {
	color: rgb(43, 43, 42);
	font-size: 1.2em;
}

.form > form > div > input[type='submit'] {
	cursor: pointer;
	background-color: rgb(4, 92, 4);
	color: #fff;
	border-radius: 4px;
	border: none;
}

.form > form > div > input[type='submit']:hover {
	background-color: rgb(36, 74, 36);
}
